*{
    margin: 0;
    box-sizing: border-box;
    overflow: overlay;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #121212;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    width: 4px;
    background-color: #191a19;
    border-radius: 10px;
}