@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@700&display=swap');

.header{
    width: 100%;
    background-color: rgb(18 18 18 / 30%);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: fixed;
    z-index: 1;
    
    nav{
        margin-right: 30px;
        width: 50%;
        height: 60px;

        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            list-style: none;
            
            li{
                
                position: relative;
                cursor: pointer; 
                overflow: hidden;
                margin: 0 20px;
                
                a{
                    color: #cfcfcf;
                    text-decoration: none;
                    font-family: 'Bebas Neue', cursive;
                    font-size: 2rem;
                    letter-spacing: 0.5px;
                    transition: 0.5s ease-in-out;
                }
                
                
            }
            
            li::before{
                letter-spacing: 0.5px;
                font-family: 'Bebas Neue', cursive;
                font-size: 2rem;
                width: 0px;
                height: 100%;
                border-right: 3px solid #1eff00;
                position: absolute;
                transition: 0.4s ease-in-out;
                overflow: hidden;

                top: 0;
                left: 0;
                visibility: hidden;
            }
             
            li:nth-child(1)::before{
                content: "Inicio";
                background-image: linear-gradient(90deg, #00da1d, #5ce74f);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0 0 10px rgba(27, 217, 77, 0.3);
            }

            li:nth-child(2)::before{
                content: "Sobre";
                background-image: linear-gradient(90deg, #00da1d, #5ce74f);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0 0 10px rgba(27, 217, 77, 0.3);
            }

            li:nth-child(3)::before{
                content: "Skills";
                background-image: linear-gradient(90deg, #00da1d, #5ce74f);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0 0 10px rgba(27, 217, 77, 0.3);
            }

            li:nth-child(4)::before{
                content: "Projetos";
                background-image: linear-gradient(90deg, #00da1d, #5ce74f);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0 0 10px rgba(27, 217, 77, 0.3);
            }

            @keyframes under{
                from{
                    z-index: 0;
                }

                to{
                    z-index: -1;
                }
            }

            li:hover::before{
                width: 100%;
                visibility: visible;
                animation-name: under;
                animation-delay: 0.3s;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
            }

            li:hover a{
                transition-delay: 0.3s;
                color: #00da1d;
            }

            @keyframes shine-menu{
                0%{
                color: #fff;
                backdrop-filter: blur(15px);
                }
                
                50%{
                    color: #1bd94d;
                    filter: drop-shadow(0 0 10px rgba(27, 217, 77, 0.3));
                    backdrop-filter: none;
                }

                100%{
                color: rgba(255, 255, 255, 1.0);
                backdrop-filter: blur(15px);
                }
            }

            li:nth-child(1) a{
                animation-name: shine-menu;
                animation-delay: 3s;
                animation-duration: 1.8s;
            }

            li:nth-child(2) a{
                animation-name: shine-menu;
                animation-delay: 3.5s;
                animation-duration: 1.8s;
            }

            li:nth-child(3) a{
                animation-name: shine-menu;
                animation-delay: 4s;
                animation-duration: 1.8s;
            }

            li:nth-child(4) a{
                animation-name: shine-menu;
                animation-delay: 4.5s;
                animation-duration: 1.8s;
            }

        }
    }
}

@media (max-width: 981px) {
    nav{
        ul{
            visibility: hidden;
        }  
    } 
}